.vs/
Azure.Active.DirectoryB2C.WebApp/bin/Debug/netcoreapp3.1/Azure.Active.DirectoryB2C.WebApp.dll
Azure.Active.DirectoryB2C.WebApp/bin/Debug/netcoreapp3.1/Azure.Active.DirectoryB2C.WebApp.deps.json
Azure.Active.DirectoryB2C.WebApp/bin/Debug/netcoreapp3.1/Azure.Active.DirectoryB2C.WebApp.exe
Azure.Active.DirectoryB2C.WebApp/bin/
Azure.Active.DirectoryB2C.WebApp/obj/
